/*** */

.product__item {
  cursor: pointer;
}

.product__info h3 a {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;
  transition: all 0.25s ease-in-out;
}

.product__info h3 a:hover {
  color: var(--secondary-color);
}

.product__info a:hover {
  color: inherit;
}

.product__info span {
  font-size: 1.2rem;
}

.product__card-bottom .price {
  color: var(--primary-color);

  font-size: 1.3rem;
  font-weight: 500;
}

.product__card-bottom span i {
  font-size: 2rem;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product__card-bottom span i:hover {
  background-color: crimson;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}

/***
*
*
* MEDIA QUERIES
*
*/

@media only screen and (max-width: 992px) {
  .product__info h3 a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .product__info h3 a {
    font-size: 1rem;
  }

  .product__card-bottom span i {
    font-size: 1rem;
  }
}
